{{!-- Things here show up on every page --}}
<div class="col-md-2 fill left-topic-nav">
  <div class="app-title">
    JavaScript to Java
  </div>
  <ul class="nav nav-pills nav-stacked left-topic-nav">
    <li role="presentation" class="active"><a href="#">Home</a></li>
    <li role="presentation"><a href="/java-overview">Java Overview</a></li>
    <li role="presentation"><a href="#">Variables</a></li>
    <li role="presentation"><a href="#">Arrays</a></li>
    <li role="presentation"><a href="#">Functions</a></li>
    <li role="presentation"><a href="#">Loops</a></li>
    <li role="presentation"><a href="#">Classes</a></li>
    <li role="presentation"><a href="#">Make it Run</a></li>
    <li role="presentation"><a href="#">Additional Resources</a></li>
  </ul>
</div>

{{outlet}}
