<div class="col-md-10 topic-header-bar">A JavaScript Developer's crash course in Java</div>

<div class="topic-subheading col-md-10">What You Need to Know First</div>
<div class="topic-content col-md-10">
  <p>
    So, you need to learn Java in a hurry? You already know JavaScript, so it can't be THAT hard, right? You've come to the right place.
  </p>
  <p>
    This tutorial is designed to help you understand the bare basics of Java, enough to create very simple programs using for loops, while loops, 2D arrays, if statements, and classes.
    It will be most valuable to you if you have already built JavaScript programs using those techniques in the past.
    The content does not necessarily represent best practices for the Java programming language, but rather seeks to help a JavaScript developer gain some familiarity with the syntax, terminology, and debugging.
  </p>
</div>

<div class=topic-subheading col-md-10>
  About This Course
</div>
<div class="topic-content col-md-10">
  <p>
    This tutorial was created by <a href="www.jenweber.me">Jen Weber</a>, a graduate of <a href="http://generalassemb.ly/">General Assembly</a> Boston's Web Development Immersive program.
    It was inspired by an interview coding challenge for a large ecommerce company, where the creator had one weekend to try to learn Java, then 24 hours to complete the assignment.
    JavaScript to Java was built using Ember.js and Bootstrap.
  </p>
  <p>
    Do you have an idea for an improvement? File an issue on <a href="https://github.com/jenweber/javascript-to-java-tutorial">Github</a>. Thanks!
  </p>
</div>

{{!-- <div class="activity-instructions col-md-5"></div>
<div class="activity-submission col-md-5"></div> --}}
